*__pycache__*

CARLA/carla-datasets*
CARLA/CarlaGear
CARLA/data/*

Drones/drones-datasets*
Drones/data*

*Car_Model*

Bicycle/data*

scripts_old*

Drones_prev

Quadrupeds/GenLocoData*
Quadrupeds/data/

AP/data/
AP/networks/diabetes_armax_model.nt
AP/networks_old

oldgit/
